# Predicting Sales Revenue 

In this project we are going to use linear regression to predict sales revenue based on advertising spending through media such as TV, Radio and Newspaper.

## Data Source

Collecting data takes significant amount of time and energy. So we must always try to find relevant existing dataset. Luckily, there is a dataset available on Kaggle that suits our purpose.

[A dataset](https://www.kaggle.com/ishaanv/ISLR-Auto#Advertising.csv) containing statistics about the sale of the products in 200 different markets, together with advertising budgets in each of these markets for different media channels: TV, radio and newspaper.

## Exploring Dataset

Let's start by reading the dataset to a pandas dataframe.

In [4]:
# Importing libraries #
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy.stats import skew

In [15]:
plt.style.use("ggplot")
plt.rcParams['figure.figsize'] = (12, 8)

In [16]:
advertising_df = pd.read_csv("Advertising.csv")
advertising_df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [18]:
advertising_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB